<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD User Interface for NodeJS, ExpressJS and MongoDB REST API</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/all.css" rel="stylesheet" type="text/css"/>  
</head>
<body>
  <div class="container"> <!-- class="table-responsive text-nowrap (play with Bootstrap attributes for look you want) -->
    <h2><a class="breadcrumb-item text-dark" href="/">Literary Quotations Database</a> <span class="badge badge-secondary" id="databaseFilterNotice"></span></h2>

    <!-- Quotations Table -->
    <table class="table table-hover table-striped" id="quotationsList">
      <thead>
        <tr>  <!-- <tr class="d-flex"> -->
          <th style="width: 60%">Quotation</th>
          <th style="width: 25%">Author</th>
          <th class="text-center" style="width: 15%">Options</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr >
          <td style="width: 60%">"{{quotation}}"</td>
          <td style="width: 25%">{{author}}</td>
          <td class="text-right" style="width: 15%">
            <a href="javascript:void(0);" class="btn btn-sm btn-info update" data-id="{{ id }}" data-quote="{{ quotation }}" data-author="{{ author }}">Update</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}" data-quote="{{ quotation }}"  data-author="{{ author }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

   </div>
</body>
</html>